$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-burger: "\e90d";
$icon-logo: "\e900";
$icon-marrD: "\e901";
$icon-marrU: "\e902";
$icon-plus:  "\e908";
$icon-search: "\e904";
$icon-farrL: "\e906";
$icon-farrR: "\e905";
$icon-cross: "\e907";
$icon-arrowLU: "\e903";
$icon-arrowD: "\e909";
$icon-arrowL: "\e90a";
$icon-arrowR: "\e90b";
$icon-arrowU: "\e90c";

